/*### Normalisations and Typography  ###*/
html, body {
  margin:0;
  height: 0;
  font-size: 100%;
  line-height: 1.5;
}
@import url(https://fonts.googleapis.com/css?family=lora);
@import url(https://fonts.googleapis.com/css?family=lato:400,300,300italic,400italic,700,700italic);
* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #2A3132;
  line-height: 1.5;
  box-sizing: border-box;
}
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.8;
}
/*### Grid Setup ###*/
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*padding:1rem 2.5%*/
}
.row {
  width:100%;
  margin-left:auto;
  margin-right: auto;
}
.row:before,
.row:after {
  content:"";
  display: table;
  clear: both;
}
/*Responsive menu classes */
.menu {
  list-style: none;
  /*margin:0;*/
  padding:0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width:100%;
  display: none;
  z-index: 1;
}
.menu-item {
  display:block;
  width:75%;
  padding:0.5rem;
  padding-left: 25%;
  margin:0 auto;
}
.menu-item:hover {
  text-decoration: underline;
}
.menu-item:active{
  text-decoration: overline;
}
.mn-it-link {
  text-decoration: none;
}
.mn-it-active {
  color:red;
}
.responsive-menu-button *{
  vertical-align: text-top;
}
.responsive-menu-button {
  display: block;
  width:25%;
  margin:0 auto;
}
/*General header styling*/
.logo {
  width:100%;
  padding:0.5rem;
}

#main-nav-bar {
  position: fixed;
  background-color: #fff;
  width:100%;
  margin:0 auto;
}
.spacer {
  margin-top:120px;
}
.vertical-rule {
  display:none;
}
/* Media Queries */
@media only screen and (min-width: 33.75em) {  /* 540px */
  /*Responsive menu classes */
  .menu {
    /*border: none;*/
    width:auto;
    display: block !important; /* jquery toggle fix*/
    margin:0 auto;
    text-align: center;
  }
  .menu-item {
    display: inline-block;
    width:auto;
    text-align: center;
    padding:0.5rem;
    margin:0 auto;
  }
  .responsive-menu-button {
    display: none;
  }
  /*General header styling*/
  .logo {
    display:block;
    width:17rem;
  }
  .spacer {
    margin-top: auto;
  }
  #main-nav-bar {
    content: "";
    display: table;
    position: relative;
    width:100%;
  }
}

@media only screen and (min-width: 48em) {  /* 768px */
  /*Responsive menu classes */
  .menu {
    border:none;
  }
  .logo{
    float:left;
    padding:0.25rem 0.5rem;
    width: 15rem;
  }
  .spacer {
    margin-top: auto;
  }
  #main-menu {
    content: "";
    display: table;
    position: relative;
    float:right;
  }
  #main-nav-bar {
    width:90%;
    max-width:48em;
    margin: 0 auto;
    margin-top:2rem;
    box-shadow: 0 2px 31px 0 rgba(0,0,0,.1);
    border-radius: 4px;
  }
  #main-nav-container {
    background-image: url("../img/hero-bg3.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:25vh;
  }
}
@media only screen and (min-width: 60em) { /* 960px */

}
