/*### Normalisations and Typography  ###*/
html, body {
  margin:0;
  height: 0;
  font-size: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Lato|Lora');
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
p {
  line-height: 2;
  font-size: 1.125rem; /*18px*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  font-weight: normal;
}
/*### Grid Setup ###*/
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*padding:1rem 2.5%*/
}
.row {
  width:100%;
  margin-left:auto;
  margin-right: auto;
}
.row:before,
.row:after {
  content:"";
  display: table;
  clear: both;
}
.content-section {
  max-width:60em;
  margin:0 auto;
  content:"";
  display: table;
  clear: both;
}
/*Main Navigation*/
.mn-menu {
  list-style: none;
  padding:0;
  text-align: center;
  display: none;
}
.mn-menu-item {
  padding:0.625rem;
}
.mn-menu-item:hover {
  text-decoration: underline;
}
.mn-menu-item:active {
  text-decoration: overline;
}
.mn-menu-item > a {
  color:#000;
  text-decoration: none;
}
.mn-active a {
  color:#ffb43a;
}
.responsive-menu-button *{
  vertical-align: middle;
}
.responsive-menu-button {
  display: block;
  margin:0 auto;
  text-align: center;
}
#main-navigation{
  text-align: center;
  background-color: #fff;
}
.mn-logo {
  margin:0.625rem;
  width:90%;
}
#main-navigation-hero {
  background: #4389e4;
  min-height:60vh;
}
#main-navigation-wrapper {
  width:100%;
  background-color: #fff;
}
/* Main Hero */
#main-hero-wrapper {
  text-align: center;
}
#main-hero {
  margin-top:7%; /* Warning: Magic number*/
  margin-bottom:7%; /* Warning: Magic number*/
  color:#fff;
}
#mh-calltoaction {
  display:inline-block;
  padding:0.625rem 1.25rem;
  background-color: #ffb43a;
  border-radius: 50px;
  text-decoration: none;
  color:#000;
}
#mh-calltoaction:focus {
  outline: none;
}
#mh-calltoaction:hover {
  /*background-color: #F19500;*/
  box-shadow: 0 0 20px #4a5767;
}
#mh-calltoaction:active {
  /*background-color: #B87200;*/
  box-shadow: inset 0 0 10px #4a5767;
}
/* What We Offer */
#what-we-offer{
  content:"";
  display: table;
  clear: both;
  margin-top:-1.25rem;
}
#wwo-title {
  margin:0;
  padding:1.25rem;
  background-color: #fff;
  text-align: center;
  color:#4389e4
}
.offer-column {
  background-color: #fff;
  width:100%;
  padding:1.25rem;
}
.offer-title {
  color:#4389e4;
  text-align: center;
}
.offer-image{
  width:100%;
}
.offer-content {
  width:100%;
  margin:0;
  padding: 1.25rem;
  padding-left: 0;
}
/*About Us, Membership*/
#main-content {
  background-color: #dddbd9;
  /*#e9e9e9;*/
}
.general-information {
  background-color: #fff;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding:0 1.25rem 2.5rem 1.25rem;
  content: "";
  display: table;
  clear: both;
}
.gi-title {
  text-align: center;
  color:#4389e4;
}
.gi-image {
  width: 100%;
  margin-top:0.625rem;
  /*padding:1.25rem 0.625rem;*/
}
.gi-content {
  width:100%;
  margin:0;
  padding: 1.25rem;
}
.download-forms {
  display:table;
  clear:both;
  padding:0.625rem 1.25rem;
  margin:1.25rem;
  background-color: #ffb43a;
  border-radius: 50px;
  text-decoration: none;
  color:#000;
}
.download-forms:focus {
  outline: none;
}
.download-forms:hover {
  box-shadow: 0 0 20px #4a5767;
}
.download-forms:active {
  /*background-color: #B87200;*/
  box-shadow: inset 0 0 10px #4a5767;
}
/* Media Queries */
@media only screen and (min-width: 33.75em) {  /* 540px */

}

@media only screen and (min-width: 48em) {  /* 768px */
  /* Main Navigation */
  .responsive-menu-button {
    display: none;
  }
  .mn-menu {
    display: block !important; /*jquery slidetoggle fix*/
  }
  .mn-menu-item {
    display: inline-block;
  }
  .mn-logo {
    width:50%;
  }

  /*What We Offer*/
  .offer-column {
    width:50%;
    float:left;
  }


  /*About us, Membership*/
  /*.gi-title{
    text-align: left;
    width:50%;
    margin-left:50%;
    padding:0 1.25rem;
  }*/
  .gi-image {
    width: 50%;
    float:left;
  }
  .gi-content {
    width:50%;
    margin-top:0;
    padding: 0 1.25rem;
    float:left;
  }
}
@media only screen and (min-width: 60em) { /* 960px */

  /* Main Navigation */
  #main-navigation {
    content:"";
    display: table;
    clear: both;
    /*background: #4a4a4a;*/
  }
  .mn-menu {
    max-width: 75%;
    float:right;
    /*background: #fff;*/
  }
  .mn-menu-item {
    padding:0.3125rem;
  }
  .mn-logo {
    width: 25%;
    margin:0.875rem 0 0.875rem 0.625rem;
    float:left;
    /*background: #fff;*/
  }

}
