/*### Normalisations and Typography  ###*/
html, body {
  margin:0;
  height: 0;
  font-size: 100%;

}

* {
  box-sizing: border-box;
}
p {
  line-height: 2;
  font-size: 1rem; /*1.125 = 18px*/
}
/*### Grid Setup ###*/
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*padding:1rem 2.5%*/
}
.row {
  width:100%;
  margin-left:auto;
  margin-right: auto;
}
.row:before,
.row:after {
  content:"";
  display: table;
  clear: both;
}
/*Responsive menu classes */
.menu {
  list-style: none;
  padding:0;
  text-align: center;
  display: none;
}
.menu-item {
  padding:0.5rem 0.5rem;
}
.menu-item:hover {
  text-decoration: underline;
}
.menu-item:active {
  text-decoration: overline;
}
.mn-it-link {
  color:#000;
  text-decoration: none;
}
.mn-it-active {
  color:red;
}
.responsive-menu-button *{
  vertical-align: middle;
}
.responsive-menu-button {
  display: block;
  margin:0.25rem auto;
  margin-top: 0.625rem;
  text-align: center;
}
/*Header styling*/
.logo {
  max-height:3.125rem;
  max-width:95%;
  display: block;
  margin:0 auto;
}
#main-nav-bar {
  width:100%;
  box-shadow: 0 2px 31px 0 rgba(0,0,0,.1);
  padding-top: 1rem;
  padding-bottom:0.5rem;
  background-color: #fff;
  content:"";
  display: table;
}
#main-nav-container {
  min-height:100vh;
  background-image: url("../img/circles-and-roundabouts.png");
  background-repeat: repeat;
  background-position: center;

}
#hero-panel {
  text-align: center;
  margin: 15% auto auto auto;
  width:90%;
}
/*Main content common styling*/
#main-content .row {
  /*border-top: 1px solid #4a4a4a;*/
}
.content-section{
  min-height: 50vh;
  padding-bottom: 3.125rem;
  background: #fff;
  /*box-shadow: 0 2px 31px 0 rgba(0,0,0,.2);*/
  max-width: 70em;
  margin-left:auto;
  margin-right: auto;
  content:"";
  display: table;
  clear: both;
}

.content-section:nth-of-type(2n){
  box-shadow: none;
}

/*About us*/
#about-us {
  text-align: center;
}
#ab-us-title {
  padding:1.25rem; /*20px*/
  text-align: center;
}
#ab-us-description {
  padding:1.25rem;
  text-align: left;
}
#ab-us-image {
  width:100%;
  max-width: 31.25rem;
  padding:1.25rem;
}

/*What we offer*/
#offer-title {
  text-align: center;
  padding:1.25rem;
}
#offer-description {
  padding:1.25rem;
}
.offer-product {
  width:90%;
  box-shadow: 0 2px 31px 0 rgba(0,0,0,.15);
  margin:1.25rem auto;
  text-align: center;
}
.offer-product * {
  width:100%;
  padding:1.25rem;
}
.of-pr-title {
  text-align: center;
}
.of-pr-image {
  height:15.625rem;

}

/*Membership*/
#membership {
  text-align: center;
}
#membership-title {
  padding:1.25rem; /*20px*/
  text-align: center;
}
#membership-description {
  padding:1.25rem;
  text-align: left;
}
#membership-form {
  display:inline-block;
  padding:0.625rem 1rem;
  margin:0 auto 1.25rem auto;
  border:1px solid transparent;
  text-decoration: none;
  background-color: #4479BA;
  color: #fff;
  user-select:none;
}
#membership-form:hover {
  background-color: #356094;
  border: solid 1px #2A4E77;
}
#membership-form:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background-color: #2E5481;
	border: solid 1px #203E5F;
}

/*The CBNE Store*/
#store-title {
  text-align: center;
  padding:1.25rem;
}
#store-description {
  padding:1.25rem;
}

.store-product {
  width:90%;
  box-shadow: 0 2px 31px 0 rgba(0,0,0,.15);
  margin:1.25rem auto;
  text-align: center;
}
.st-pr-image {
  width:100%;
}
.st-pr-title {
  text-align: center;
  padding:1.25rem;
  margin:0;
}
.st-pr-divider {
  width:50%;
  text-align: center;
  background-color:#4a4a4a;
}
.st-pr-price {
  display: inline-block;
  margin: 1.25rem 0 0 0;
  font-size: 1.5625rem;
  /*background-color: red;*/
}
.st-pr-description {
  text-align: left;
  padding:1.25rem;
  margin: 0;
}
.st-pr-more {
  display:inline-block;
  padding:0.625rem 1rem;
  margin:0 auto 1.25rem auto;
  border:1px solid transparent;
  text-decoration: none;
  background-color: #4479BA;
  color: #fff;
  user-select:none;
}
.st-pr-more:hover {
  background-color: #356094;
  border: solid 1px #2A4E77;
}
.st-pr-more:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background-color: #2E5481;
	border: solid 1px #203E5F;
}
/*Contact Us*/
#contact-us {
  text-align: center;
}
#contact-title {
  text-align: center;
}
#contact-description {
  padding:1.25rem;
}
#contact-form {
  width:95%;
  margin-left: auto;
  margin-right:auto;
  padding:1.25rem;
  /*box-shadow: 0 2px 31px 0 rgba(0,0,0,.15);*/
}
.contact-inputs {
  width:90%;
  padding:0.625rem;
  background-color: #fff;
  border:1px solid #d8d8d8;
  border-bottom: none;
}
.contact-inputs:last-of-type {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 0.625rem;
}
.contact-inputs:focus {
  background-color: #dbe9f1;
}
#contact-submit {
  display:block;
  width:90%;
  max-width: 21.875rem;
  padding:0.625rem 1rem;
  margin:0 auto;
  border:1px solid transparent;
  background-color: #4479BA;
  color: #fff;
  user-select:none;
}
#contact-submit:hover {
  background-color: #356094;
  border: 1px solid #2A4E77;
}
#contact-submit:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background-color: #2E5481;
	border: 1px solid #203E5F;
}

/*Footer */
#footer-content {
  text-align: center;
  padding-bottom: 1.5625rem;
  background-color: #d8d8d8;
  z-index: -1;
}
#footer-content .menu {
  display: block;
  margin-bottom: 1.5625rem;
}
#footer-content .menu-item {
  font-size: 0.75rem;
}
#designed-by {
  text-decoration: none;
  color:#000;
  font-style: italic;
  font-weight: 300;
}

/* Media Queries */
@media only screen and (min-width: 33.75em) {  /* 540px */

}

@media only screen and (min-width: 48em) {  /* 768px */
  /*Responsive Menu and Header*/
  .responsive-menu-button {
    display: none;
  }
  .menu {
    content:"";
    display: table !important /*Jquery fadetoggle fix*/;
    margin:1.25rem auto 1rem auto;
  }
  .menu-item {
    display: block;
    float: left;
  }
  #main-nav-container {

  }
  /*About us*/
  #ab-us-description {
    width:45%;
    float:left;
    margin-left:2.5%;
    margin-right: 2.5%;
  }
  #ab-us-image {
    width:45%;
    float:right;
    margin-left:2.5%;
    margin-right: 2.5%;
  }
  /*What we offer*/
  .offer-product {
    width:45%;
    float:left;
    margin-left:2.5%;
    margin-right: 2.5%;
  }


  /*CBNE Store*/
  .store-product {
    width:45%;
    float:left;
    margin-left:2.5%;
    margin-right: 2.5%;
  }

  /*Contact Us*/
  #contact-description {
    width:45%;
    float:left;
    margin:0;
    margin-left:2.5%;
    margin-right: 2.5%;
  }
  #contact-form {
    width:45%;
    float:right;
    height:100%;
    margin-left:2.5%;
    margin-right: 2.5%;
  }
  /*offer-product make width 45%*/
  /*store-product make row of 2 then 3*/
  /*float contact form and description into 2 columns*/
}
@media only screen and (min-width: 60em) { /* 960px */

  /*CBNE Store*/
  .store-product {
    width:30%;
    float:left;
    margin-left:1.5%;
    margin-right: 1.5%;
  }
}

@media only screen and (min-width: 64em) { /* 1024px */
  /*Responsive Menu and Header*/
  #main-nav-bar {
    padding:0;
  }
  .menu {
    float:right;
    margin:1.25rem auto;
    padding-right:0.625rem;
  }
  .logo {
    margin-left:0.625rem;
    margin-top:0.625rem;
    margin-bottom:0.625rem;
    float:left;
  }

  /*Footer*/
  #footer-content .menu {
    float: none;
    padding:0;
  }
}
